.main2 {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 50px;
  background: var(--white);
  transition: 0.5s;
  z-index: 2;
}
.main2.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 991px) {
  .main2 {
      width: 100%;
      left: 0;
      
    }
    .main2.active {
      left: 80px;
    }
}

@media (max-width: 480px) {
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
     z-index: 10; 
  }
  .navigation.active {
    width: 100%;
    left: 0;
    max-width: 100vw;
  }
  .toggle {
    z-index: 100;
  }
  .main2.active .toggle {
    position: absolute;
    color: #fff;
    position: fixed;
    right: 30px;
    left: initial;
    /* left: 310px; */
  }

  .search_form{
      display: none;
  } 
}